<div class="row">
	<div>
		<app-shopping-edit></app-shopping-edit>
		<hr>
		<ul>
			<a href="" class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of ingredients">
				{{ ingredient.name }} ({{ ingredient.amount }})
			</a>
		</ul>
	</div>
</div>