<div class="row">
	<div class="col-xs-12">
		<form>
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input type="text" name="name" value="name" id="name" class="form-control">
				</div>
				<div class="col-sm-2 form-group">
					<label for="amount">Amount</label>
					<input type="number" name="amount" value="amount" class="form-control">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-success">Add</button>
					<button type="button" class="btn btn-danger">Delete</button>
					<button type="button" class="btn btn-primary">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>